<div class="container py-2">
    <form [formGroup]="myformbuilder" (ngSubmit)="print()" >
    name
    <input type="text" formControlName="name" required><br><br>
    <div class="alert alert-danger" *ngIf="name.touched && name.hasError('required')">name must be not empty</div>
    age
    <input type="text"formControlName="age" required ><br><br>
    <div class="alert alert-danger" *ngIf="age.touched && age.hasError('required')">age must be not empty</div>

    <div formArrayName="items">
        <div *ngFor="let item of myformbuilder.controls.items['controls'];index as i" [formGroupName]="i">
               Username <input type="text" name="" formControlName="username">
               Password <input type="text" name="" formControlName="password">
                <input type="submit" value="deleteRow" (click)="deleteRow(i)">
        </div>
      
    </div>
    <input type="submit" value="AddRow" (click)="addNewRow()"/>
    <input type="submit" value="send">
</form>
</div>
